html, body, #loading, #app, #escape, #game, #end {
	height: 100%;
}

html {
	overflow: hidden;
	font-size: calc(1.5vh + 0.25em);
}

body {
	margin: 0;
	text-align: center;
	font-family: Verdana;
}

button {
	border: 0.05rem solid black;
	border-radius: 0.6rem;
	padding: 0.5rem 1rem;
	background-color: white;
	margin: 0.5rem;
	font-size: 1em;
	transition: transform 0.1s;
}

button:hover {
	cursor: pointer;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.big {
	font-size: 1.7em;
}

.small {
	font-size: 0.7em;
	color: grey;
}

.tabs {
	 display: flex; 
	 justify-content: center;
}

#game {
	display: grid;
	grid-template-rows: repeat(21, 1fr);
	grid-template-columns: repeat(14, 1fr);
}

#core {
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 3;
	grid-row-end: 22;
	padding-top: 0.6rem;
}

.actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.action {
	border: 0.2rem solid black;
	width: 13rem;
	min-height: 13rem;
	padding: 0.3rem;
	margin: 0.3rem;
	position: relative;
	transition: transform 0.1s;
}

.node {
	border-radius: 50%;
	border: 0.1rem solid black;
	width: 3rem;
	height: 3rem;
	margin: 0.2rem;
	/* needs to cover svg */
	background-color: white;
}

.nodecant {
	color: grey;
	border-color: grey;
}

.explored {
	color: blue;
	border-color: blue;
}

.next {
	color: orange;
	border-color: orange;
}

/* Needs to go after .action or otherwise it won't take priority */
.bought {
	background-color: lightgreen;
}

.can:not(:has(.auto:hover)):hover {
	cursor: pointer;
	transform: scale(1.1);
}

.cant:not(:has(.auto)), .cant:has(.auto) > *:not(.auto) {
	cursor: default;
	opacity: 0.3;
}

#messages {
	grid-column-start: 13;
	grid-column-end: 15;
	grid-row-start: 3;
	grid-row-end: 20;
	border: 0.1rem solid black;
	border-right: 0;
}

.bar {
	border: 0.1rem solid black;
	position: relative;
}

#bar {
	grid-column-start: 1;
	grid-column-end: 15;
	grid-row-start: 1;
	grid-row-end: 3;
	border-radius: 3rem;
}

#inventory {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 20;
	border: 0.1rem solid black;
	border-left: 0;
}

.space-apart {
	padding-top: 0.3rem;
}

.spacey {
	display: flex; 
	font-weight: bold; 
	justify-content: space-between; 
	margin-bottom: 0.3rem;
}

.progress {
	position: absolute; 
	top: 0; 
	left: 0;
	height: 100%; 
	z-index: -999;
}

.tooltip-div {
  position: absolute;
  z-index: 2;

  min-width: 1.5rem;
  max-width: 20rem;
  min-height: 0.6rem;
  padding: 0.3rem 0.6rem;

  border: solid 0.1rem #444;
  border-radius: 0.6rem;

  color: black;
	background-color: white;
  text-align: center;

  pointer-events: none;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	background-color: white;
	color: black;
  border: solid 0.15rem black;
  padding: 0.5rem 2rem;
  pointer-events: auto;
  max-width: 35rem;
  max-height: 30rem;
}

.line {
	content: '';
	display: block;
	width: 100%;
	margin-top: 0.4rem;
	height: 0.4rem;
	border-top: solid 0.15rem black;
}

.notify {
	box-shadow: 0px 0px 3px 0.2rem orangered;
}

.slider {
	display: flex;
}

.slider div {
	width: 4rem;
	vertical-align: middle;
}

input[type="range"] {
	accent-color: green;
}

#puzzle0 {
	position: relative; 
	width: 100%; 
	height: 2rem; 
	border: 0.1rem solid black
}

#puzzle0 div {
	position: absolute;
	top: 0; 
	height: 2rem;
}

.lawyer {
	font-weight: initial;
	margin: 0.5rem 5rem 0.5rem 9rem;
}

line {
	stroke: black;
	stroke-width: 0.1rem;
}

*::-webkit-scrollbar {
    width: 0.7rem;
		height: 0.7rem;
}

*::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 0.5rem;
}

.evidence {
	position: absolute;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}